In [1]:
# Dependencies
import pandas as pd
import requests
import json
import io
import csv
from pandas.io.json import json_normalize

In [8]:
url = "https://opendata.arcgis.com/datasets/8070cd333824453abea19e8faa340fb8_0.geojson"
response = requests.get(url).json()
df = json_normalize(response)
print (df)

                                            features               type
0  [{'type': 'Feature', 'properties': {'OBJECTID'...  FeatureCollection

In [ ]:
url = "https://opendata.arcgis.com/datasets/8070cd333824453abea19e8faa340fb8_0.geojson"
response = requests.get(url).json()
#print(json.dumps(response, indent=4, sort_keys=True))
feat_data = response['features']
feature_data = open('Feature_Data.csv', 'w')
csvwriter = csv.writer(feature_data)
count = 0
for feat in feat_data:
    if count == 0:
        header = feat.keys()
        csvwriter.writerow(header)
        count += 1
    csvwriter.writerow(feat.values())
feature_data.close()
# print(feature_data)
# feat_df = pd.read_csv(feature_data)
# type(feature_data)

with open('Feature_Data.csv', 'r') as f2:
    for row in feature_data:
     #data = f2.read()
     print(row)

In [ ]:
##Test of significance - include one in project
##median is likely better, if needed use mean
##use pvalue to evaluate significance
##Chi Square - research for me

In [ ]:
url = "https://municipal.systems/v1/places/az/dataTypes/shared-vehicle/data?key=f867b00f-7408-4c88-bd4d-ad4ef582b20c"
response = requests.get(url).json()
test = json.dumps(response, indent=4, sort_keys=True)
df = pd.read_json(test)
df.head()

In [4]:
csv_bus_stops = "https://raw.githubusercontent.com/Sephka/Project1/master/Project_Folder/phx_city_data/bus_stops"
bus_stops_df = pd.read_csv(csv_bus_stops, encoding="utf-8")
bus_stops_df.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,district
0,100,16619.0,Bell Rd & 44th St,NaN,33.640488,-111.986041,NaN,NaN,0,NaN,PH
1,1002,15234.0,Alice Av & 66th Dr,NaN,33.563533,-112.200947,NaN,NaN,0,NaN,GL
2,10021,16877.0,3rd St & Taylor St,NaN,33.453121,-112.070083,NaN,NaN,0,NaN,PH
3,1003,13532.0,Atlanta Av & 11th Av,NaN,33.400036,-112.085804,NaN,NaN,0,NaN,PH
4,1004,14926.0,Baseline Rd & 19th Av,NaN,33.377644,-112.098529,NaN,NaN,0,NaN,PH

In [5]:
csv_street_closures = "https://raw.githubusercontent.com/Sephka/Project1/master/Project_Folder/phx_city_data/traffic-restrictions_planned-street-restrictions-and-closures_trstreets_20190928.csv"
street_closures_df = pd.read_csv(csv_street_closures, encoding="utf-8")
street_closures_df.head()

,LOCATION,DATES,CLOSURE TYPE,PURPOSE,HOTLINE
0,OLNEY AVE: 27TH AVE - 21ST AVE,09-02-2019 - 09/27/2019,PARTIAL,PRIVATE DEVELOPMENT WORK,NOT APPLICABLE
1,40TH ST: BASELINE RD - NANCY LN,08-14-2019 - 09/27/2019,PARTIAL,STREET TRANSPORTATION WORK,NOT APPLICABLE
2,19TH AVE: PINNACLE PEAK RD - WILLIAMS DR,08-14-2019 - 09/27/2019,PARTIAL,UTILITY WORK,NOT APPLICABLE
3,UNION HILLS DR: 19TH AVE - 7TH AVE,08-19-2019 - 09/27/2019,PARTIAL,STREET TRANSPORTATION WORK,NOT APPLICABLE
4,PINCHOT AVE: 34TH PL - 35TH ST,08-26-2019 - 09/27/2019,PARTIAL,PRIVATE DEVELOPMENT WORK,NOT APPLICABLE

In [6]:
csv_intersection_closures = "https://raw.githubusercontent.com/Sephka/Project1/master/Project_Folder/phx_city_data/traffic-restrictions_planned-intersection-restrictions-and-closures_trint_20190928.csv"
intersection_closures_df = pd.read_csv(csv_intersection_closures, encoding="utf-8")
intersection_closures_df.head()

,LOCATION,DATES,CLOSURE TYPE,PURPOSE,HOTLINE
0,56TH ST & MAYO BLVD,09-16-2019 - 09/27/2019,PARTIAL,STREET TRANSPORTATION WORK,NOT APPLICABLE
1,MCDOWELL RD & 41ST AVE,09-06-2019 - 09/27/2019,PARTIAL,STREET TRANSPORTATION WORK,602-235-2896
2,41ST AVE & MCDOWELL RD,09-06-2019 - 09/27/2019,PARTIAL,STREET TRANSPORTATION WORK,602-235-2896
3,83RD AVE & TRAFALGAR AVE,09-10-2019 - 09/27/2019,FULL,UTILITY WORK,NOT APPLICABLE
4,83RD AVE & TRAFALGAR AVE,09-10-2019 - 09/27/2019,PARTIAL,UTILITY WORK,NOT APPLICABLE

In [7]:
csv_demographics = "https://raw.githubusercontent.com/Sephka/Project1/master/Project_Folder/phx_city_data/phoenixazdemographic.csv"
demographics_df = pd.read_csv(csv_demographics, encoding="utf-8")
demographics_df.head()

   year          title_field    value
0  2015     Total Population  1563001
1  2015      Male Population   786833
2  2015   Male Under 5 years    60464
3  2015    Male 5 to 9 years    60456
4  2015  Male 10 to 14 years    61339