In [1]:
# Dependencies
import pandas as pd
import requests
import json
import io
import csv
from pandas.io.json import json_normalize

In [2]:
url = "https://opendata.arcgis.com/datasets/8070cd333824453abea19e8faa340fb8_0.geojson"
response = requests.get(url).json()

with open('lightrail_data.txt', 'w') as outfile:
   json.dump(response, outfile)
with open('lightrail_data.txt') as rail_file:
   dict_rail = json.load(rail_file)

rail_data = pd.DataFrame.from_dict(json_normalize(dict_rail['features']), orient='columns')
rail_data.head()

,geometry.coordinates,geometry.type,properties.Image,properties.Image2,properties.Jurisdiction,properties.OBJECTID,properties.Q2015_1,properties.Q2015_2,properties.Q2015_3,properties.Q2015_4,...,properties.Q2017_1,properties.Q2017_2,properties.Q2017_3,properties.Q2017_4,properties.Q2018_1,properties.Q2106_3,properties.StationId,properties.StationName,properties.Type,type
0,"[-112.09973100877106, 33.520591853930384]",Point,https://farm2.staticflickr.com/1497/2398469244...,None,Phoenix,1,3825,3503,2416,3405,...,2151,2006,1883,2023,2064,2144,4,Montebello / 19th Ave,Boardings,Feature
1,"[-112.09880709341047, 33.50954306712032]",Point,https://farm6.staticflickr.com/5699/2406729541...,https://farm2.staticflickr.com/1466/2377613002...,Phoenix,2,1901,1773,1280,1935,...,2059,2000,1956,1996,2042,1979,5,19th Avenue / Camelback,Boardings,Feature
2,"[-112.08333617468192, 33.50930816892451]",Point,https://farm2.staticflickr.com/1534/2404118622...,None,Phoenix,3,1059,1017,753,1127,...,1246,1145,1087,1132,1063,1185,6,7th Avenue / Camelback,Boardings,Feature
3,"[-112.07378741844016, 33.49575408516081]",Point,https://farm2.staticflickr.com/1451/2395913915...,None,Phoenix,4,1674,1530,1049,1574,...,1638,1528,1378,1532,1482,1575,9,Indian School / Central Avenue,Boardings,Feature
4,"[-112.0737858926613, 33.501409885351514]",Point,https://farm2.staticflickr.com/1636/2343905835...,None,Phoenix,5,956,806,700,903,...,921,803,791,906,882,826,8,Campbell / Central Avenue,Boardings,Feature

In [ ]:
# Questions:

In [3]:
##Test of significance - include one in project
##median is likely better, if needed use mean
##use pvalue to evaluate significance
##Chi Square - research for me

In [10]:
url = "https://municipal.systems/v1/places/az/dataTypes/shared-vehicle/data?key=f867b00f-7408-4c88-bd4d-ad4ef582b20c"
response2 = requests.get(url).json()

with open('bike_data.txt', 'w') as outfile2:
   json.dump(response2, outfile2)
with open('bike_data.txt') as bike_file:
   dict_bike = json.load(bike_file)

bike_data = pd.DataFrame.from_dict(json_normalize(dict_bike['results']), orient='columns')
bike_data.head()

,createdAt,data.active,data.energyLevel,data.id,data.location.coordinates,data.location.type,data.name,data.operators,data.reserved,data.type,geometry.coordinates,geometry.type,id,sourceId,updatedAt
0,2019-05-13T20:38:25.076Z,True,NaN,grid-bike-share-bike-12759,"[-111.938395, 33.41814]",Point,T759,[Grid Bike Share],False,bicycle,"[-111.938395, 33.41814]",Point,b91b3a9c-2931-47fe-8474-9c91c89c5155,18489e2f-200b-46a6-8b0f-a3e14ca88887,2019-05-13T20:43:56.158Z
1,2019-05-13T18:56:45.563Z,True,NaN,grid-bike-share-bike-17386,"[-112.089135, 33.46572]",Point,GRID 2220,[Grid Bike Share],False,bicycle,"[-112.089135, 33.46572]",Point,a9cc47db-daa8-4b39-82b7-ab2104847190,18489e2f-200b-46a6-8b0f-a3e14ca88887,2019-05-13T21:59:28.209Z
2,2019-05-13T18:56:45.640Z,True,NaN,grid-bike-share-bike-1165,"[-112.08914166666666, 33.46570333333333]",Point,GRID 190,[Grid Bike Share],False,bicycle,"[-112.089142, 33.465703]",Point,2a5c90c8-48a6-432e-83d2-fba1817ec031,18489e2f-200b-46a6-8b0f-a3e14ca88887,2019-05-13T21:59:28.164Z
3,2019-05-15T10:25:59.022Z,True,0.33,jump-la-bike-175505,"[-111.91361666666667, 33.499138333333335]",Point,13120,[JUMP LA],False,bicycle,"[-111.91361699999999, 33.499137999999995]",Point,4b07ab0f-da2b-4e7f-815d-5191cb0f93c8,18489e2f-200b-46a6-8b0f-a3e14ca88887,2019-05-15T12:47:41.047Z
4,2019-05-13T18:56:45.565Z,True,NaN,grid-bike-share-bike-1396,"[-112.10143, 33.447543333333336]",Point,GRID 254,[Grid Bike Share],False,bicycle,"[-112.10143, 33.447542999999996]",Point,61e3f3f0-2606-40f7-8b5c-c3197f483686,18489e2f-200b-46a6-8b0f-a3e14ca88887,2019-05-14T17:03:27.671Z

In [ ]:
# Question:
# 1: Which light rail stop has the most pedestrian traffic?
# 2: What are the busiest light rail locations annually?

# 1: How many bike stations are w/i a 1 mile radious of a transit station?
# 2: During a volume period of light rail usage do we also see a corellation in bike share usage?
# 3: In high profit quarters for light rail are there any reductions in traffic?
# 4: On days where we see higher traffic do we see an increase in light rail use?

In [5]:
csv_bus_stops = "https://raw.githubusercontent.com/Sephka/Project1/master/Project_Folder/phx_city_data/bus_stops"
bus_stops_df = pd.read_csv(csv_bus_stops, encoding="utf-8")
bus_stops_df.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,district
0,100,16619.0,Bell Rd & 44th St,NaN,33.640488,-111.986041,NaN,NaN,0,NaN,PH
1,1002,15234.0,Alice Av & 66th Dr,NaN,33.563533,-112.200947,NaN,NaN,0,NaN,GL
2,10021,16877.0,3rd St & Taylor St,NaN,33.453121,-112.070083,NaN,NaN,0,NaN,PH
3,1003,13532.0,Atlanta Av & 11th Av,NaN,33.400036,-112.085804,NaN,NaN,0,NaN,PH
4,1004,14926.0,Baseline Rd & 19th Av,NaN,33.377644,-112.098529,NaN,NaN,0,NaN,PH

In [6]:
csv_street_closures = "https://raw.githubusercontent.com/Sephka/Project1/master/Project_Folder/phx_city_data/traffic-restrictions_planned-street-restrictions-and-closures_trstreets_20190928.csv"
street_closures_df = pd.read_csv(csv_street_closures, encoding="utf-8")
street_closures_df.head()

,LOCATION,DATES,CLOSURE TYPE,PURPOSE,HOTLINE
0,OLNEY AVE: 27TH AVE - 21ST AVE,09-02-2019 - 09/27/2019,PARTIAL,PRIVATE DEVELOPMENT WORK,NOT APPLICABLE
1,40TH ST: BASELINE RD - NANCY LN,08-14-2019 - 09/27/2019,PARTIAL,STREET TRANSPORTATION WORK,NOT APPLICABLE
2,19TH AVE: PINNACLE PEAK RD - WILLIAMS DR,08-14-2019 - 09/27/2019,PARTIAL,UTILITY WORK,NOT APPLICABLE
3,UNION HILLS DR: 19TH AVE - 7TH AVE,08-19-2019 - 09/27/2019,PARTIAL,STREET TRANSPORTATION WORK,NOT APPLICABLE
4,PINCHOT AVE: 34TH PL - 35TH ST,08-26-2019 - 09/27/2019,PARTIAL,PRIVATE DEVELOPMENT WORK,NOT APPLICABLE

In [7]:
csv_intersection_closures = "https://raw.githubusercontent.com/Sephka/Project1/master/Project_Folder/phx_city_data/traffic-restrictions_planned-intersection-restrictions-and-closures_trint_20190928.csv"
intersection_closures_df = pd.read_csv(csv_intersection_closures, encoding="utf-8")
intersection_closures_df.head()

,LOCATION,DATES,CLOSURE TYPE,PURPOSE,HOTLINE
0,56TH ST & MAYO BLVD,09-16-2019 - 09/27/2019,PARTIAL,STREET TRANSPORTATION WORK,NOT APPLICABLE
1,MCDOWELL RD & 41ST AVE,09-06-2019 - 09/27/2019,PARTIAL,STREET TRANSPORTATION WORK,602-235-2896
2,41ST AVE & MCDOWELL RD,09-06-2019 - 09/27/2019,PARTIAL,STREET TRANSPORTATION WORK,602-235-2896
3,83RD AVE & TRAFALGAR AVE,09-10-2019 - 09/27/2019,FULL,UTILITY WORK,NOT APPLICABLE
4,83RD AVE & TRAFALGAR AVE,09-10-2019 - 09/27/2019,PARTIAL,UTILITY WORK,NOT APPLICABLE

In [8]:
##csv_demographics = "https://raw.githubusercontent.com/Sephka/Project1/master/Project_Folder/phx_city_data/phoenixazdemographic.csv"
##demographics_df = pd.read_csv(csv_demographics, encoding="utf-8")
##demographics_df.head()

   year          title_field    value
0  2015     Total Population  1563001
1  2015      Male Population   786833
2  2015   Male Under 5 years    60464
3  2015    Male 5 to 9 years    60456
4  2015  Male 10 to 14 years    61339

In [ ]:
Questions: